@charset 'UTF-8';

// ====== style ====== //
.pd--l { padding: 32px 0; }
.pd--m { padding: 20px 0; }

.mg--xl { margin: 72px 0; }
.mg--l { margin: 48px 0; }
.mg--m { margin: 20px 0; }
.mg--xs { margin: 8px 0; }

// ====== text ====== //
.text--s {
    font-family: $font--light;
    font-size: $font--s;
    line-height: $font--m;
    &--violet { 
        color: $color--violet;
    }
}

.text--m {
    font-family: $font--light;
    font-size:$font--m;
}

.text--l {
    font-family: $font--light;
    font-size: $font--l;
}
.text--center {
    text-align: center;
}

@mixin roundedTxt ($font-size, $is-selected: true) {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 $font-size;
    line-height: $font-size * 1.8;
    border-radius: $font-size * 3;
    font-size: $font-size;
    text-align: center;
    @if $is-selected {
        background-color: $color--violet;
        color: $color--white;
    }@else {
        background-color: $color--white;
        border: 1ps solid $color--violet;
        color: $color--violet;
    }
}

// ====== img ====== //
.img { 
    width: 100%;
    height: auto;
}


