// ====== form ====== //
.input--wrap {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
.checkbox--wrap {
    display: inline-flex;
    padding: 10px;
}

.input--checkbox {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid $color--violet;
}

.input--text {
    display: inline-block;
    width: 100%; 
    height: 50px; 
    padding-left: $font--xs;
    background-color: $bg--base;
    border: 1px solid $color--violet;
    border-radius : $radius--s;
    font-family: $font--light;
    font-size: $font--s;
    line-height: 50px;
    text-align: left;
    color: $color--black;
    &:last-child {
        margin-bottom: 0;
    }
    &--white {
        background-color: $color--white;
    }
    &--left {
        width: calc(100% - 160px); // btn--submit--small
    }
    &.w--small {
        width: 90px;
        margin: 0 10px; 
        @at-root .detail {
            height: 50px;
            padding: 16px 0;
            font-weight: 600;
            color: rgba(0, 0, 0,.2);
        }
    }
    .l--flex--row & {
        width: calc(100% - 160px);
    }
    &:read-only {
        font-weight: 800;
        font-size: $font--m;
    }
}

.input--text::placeholder {
    line-height: 50px;
    font-family: $font--bold;
    font-size: $font--m;
    color: $color--black;
    opacity: .2;
}


.label {
    display: inline-block;
    width: 100%;
    margin: 6px 0;
    font-family: $font--light;
    font-size: $font--s;
    line-height: 20px;
    color: $color--violet; 
    &--checkbox {
        width: auto;
        margin: 0 10px 0 0;
        font-family: $font--bold;
        font-size: $font--m;
        color: $color--black;
        opacity: .2;
    }
    .detail {
        margin-top: 3px;
    }
}

// ====== calendar ====== //
.calendar {
    width: auto;
    min-width: 510px; 
    height: auto;
    &--add {
        display: inline-block;
        width: 310px;
        height: auto;
    }
}

// ====== calendar ====== //
.schedule {
    width: 100%;
    max-width: 530px;
}
.table__wrap {
    border: 1px solid rgba(0, 0, 0,.1);
    border-radius: $radius--m;
    text-align: center;
    word-break: keep-all;
    .thead  {
        border-bottom: 1px solid rgba(0, 0, 0,.1); 
        .th {
            padding: 8px;
            font-size: $font--m;
            font-weight: 800;
            border-right: 1px solid rgba(0, 0, 0,.1);
            &:last-child {
                border-right: 0;
            }
        }
    }
    .tbody {
        .tr {
            border-bottom: 1px solid rgba(0, 0, 0,.1);
            &:last-child {
                border-bottom: 0;
            }
        }
        .td {
            padding: 6px;
            font-size: $font--s;
            border-right: 1px solid rgba(0, 0, 0,.1);
            &:last-child {
                border-right: 0;
            }
            
        }

    }


}
/* --- list --- */
.list__wrap {
    margin-bottom: 20px;
    .list__title {
        margin: 6px 0;
        font-size: $font--s;
        color: $color--violet;
    }
    .list {
        width: 100%;
        display: inline-flex;
        .list__item {
            display: inline-block;
            width: auto;
            height: 30px;
            padding: 6px 12px;
            margin: 4px 10px 4px 0;
            border: 1px solid rgba(79,70,229, .2);
            border-radius: 16px;
            background-color: #fff;
            font-size: $font--s;
            color: rgba(0,0,0,.6);
        }
    }
}
