// ====== layout ====== //
.l--table {
    display: table;
    width: 100%;
    height: 100%;
}
.l--cell {
    display: table-cell;
    vertical-align: middle;
}

.l--flex--row {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    &.jt--space {
        justify-content: space-between;
    }
    &.jt--center {
        justify-content: center;
    }
}

.l--flex--col {
    display: flex;
    flex-direction: column;
    &.jt--space {
        justify-content: space-between;
    }
    &.jt--center {
        justify-content: center;
    }
}

.l--block {
    display: block;
    width: 100%; 
    height: auto;
}
.l--inline {
    display: inline-block;
}

.inline__wrap {
    width: 100%;
    .inline {
        display: inline-block;
        vertical-align: top;
    }
}



.container {
    width: 100%; 
    height: auto;
    min-height: 100vh;
    padding: 80px 20px 0;
    background-color: $color--white;
    &--home {
        background-color: $bg--base;
    }
}

.box {
    display: block;
    width: 100%;
    height: auto;
    background-color: $bg--base;
    &--s {
        max-width: 424px;
        height: auto;
        margin: 0 auto;
        padding: 40px 20px;
        border-radius: $radius--s;
        box-shadow: 0 5px 5px rgba(0, 0, 0,.4);
    }
    &--m {
        max-width: 708px;
        height: auto;
        margin: 0 auto;
        padding: 40px 20px;
        border-radius: $radius--s;
        box-shadow: 0 5px 5px rgba(0, 0, 0,.4);
    }
    &--xl {
        max-width: 1220px;
        margin: 0 auto;
        padding: 40px 20px;
        background-color: #fff;
    }
    &--auto {
        width: auto;
    }
    &--full {
        width:100%;
        height: 100vh;
        margin: 0 auto;
        &#intro01 {
            height: calc(100vh - 80px); //container padding-top
        }
    }
}